{% extends 'pages/base.html' %}

{% block maintitle %}
  Moderator Tools - Oppia
{% endblock maintitle %}

{% block navbar_breadcrumb %}
  <ul class="nav navbar-nav oppia-navbar-breadcrumb">
    <li>
      <span class="oppia-navbar-breadcrumb-separator"></span>
      Moderator Tools
    </li>
  </ul>
{% endblock navbar_breadcrumb %}

{% block content %}
  <div ng-controller="Moderator">
    <div class="oppia-content">
      <br>
      <tabset>
        <tab heading="Recent Commits" active>
          <h3>Recent Commits (all non-private explorations)</h3>
          <div ng-show="allCommits.length">
            <table class="oppia-padded-table">
              <tr>
                <th>Timestamp</th>
                <th>Exploration</th>
                <th>Category</th>
                <th>Username</th>
                <th>Commit message</th>
                <th>Community-owned?</th>
              </tr>
              <tr ng-repeat="commit in allCommits track by $index">
                <td><[getDatetimeAsString(commit.last_updated)]></td>
                <td>
                  <a ng-href="<[getExplorationCreateUrl(commit.exploration_id)]>">
                    <[explorationData[commit.exploration_id].title]>
                  </a>
                </td>
                <td>
                  <[explorationData[commit.exploration_id].category]>
                </td>
                <td><[commit.username]></td>
                <td><[commit.commit_message]></td>
                <td><[commit.post_commit_community_owned]></td>
              </tr>
            </table>
          </div>
        </tab>

        <tab heading="Recent Feedback Messages">
          <h3>Recent Feedback Messages</h3>
          (Note that some of these links may be to private explorations, and thus result in authorization errors.)
          <br><br>
          <div ng-show="allFeedbackMessages.length">
            <table class="oppia-padded-table">
              <tr>
                <th>Timestamp</th>
                <th>Exploration ID</th>
                <th>Username</th>
              </tr>
              <tr ng-repeat="message in allFeedbackMessages track by $index">
                <td><[getDatetimeAsString(message.created_on)]></td>
                <td>
                  <a ng-href="<[getExplorationCreateUrl(message.exploration_id)]>">
                    <[message.exploration_id]>
                  </a>
                </td>
                <td><[message.author_username]></td>
              </tr>
            </table>
          </div>
        </tab>

        <tab heading="Featured Activities">
          <h3>Activities to feature in the library</h3>
          <br><br>

          <schema-based-editor schema="FEATURED_ACTIVITY_REFERENCES_SCHEMA"
                               local-value="displayedFeaturedActivityReferences">
          </schema-based-editor>
          <br><br>

          <button class="btn btn-success" ng-click="saveFeaturedActivityReferences()"
                  ng-disabled="isSaveFeaturedActivitiesButtonDisabled()">
            Save Featured Activities
          </button>
        </tab>
      </tabset>
    </div>
  </div>
{% endblock %}

{% block footer_js %}
  {{ super() }}
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/forms/schema_editors/SchemaBasedChoicesEditorDirective.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/forms/schema_editors/SchemaBasedDictEditorDirective.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/forms/schema_editors/SchemaBasedEditorDirective.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/forms/schema_editors/SchemaBasedListEditorDirective.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/forms/schema_editors/SchemaBasedUnicodeEditorDirective.js"></script>

  <script src="{{TEMPLATE_DIR_PREFIX}}/pages/moderator/Moderator.js"></script>
{% endblock footer_js %}
